<footer>

  <div class="grid-x grid-margin-x">
    <div class="small-12 cell">
      <hr/>
    </div>

    <div class="small-12 medium-4 cell">

      <a href="/">{{ site.title }}</a> by Kris Krause<br/>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a><br/> &copy; Copyright <a href="/about/">2017</a>

    </div>

    <div class="small-12 medium-4 cell">
      <hr class="show-for-small-only" /> {% if site.github_username %}

      <span class="fi-social-github size-18"></span>
      <a href="https://github.com/{{ site.github_username }}">
        <span class="username">{{ site.github_username }}</span>
      </a>
      <br/> {% endif %} {% if site.twitter_username %}

      <span class="fi-social-twitter size-18"></span>
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <span class="username">{{ site.twitter_username }}</span>
      </a>
      <br/> {% endif %} {% if site.stackoverflow_account %}

      <span class="fi-social-stack-overflow size-18"></span>
      <a href="http://stackoverflow.com/users/139547/{{ site.stackoverflow_account }}">
        <span class="username">{{ site.stackoverflow_account }}</span>
      </a>

      {% endif %}


    </div>

    <div class="small-12 medium-4 cell">
      <hr class="show-for-small-only" /> {{ site.description }}
    </div>


  </div>
  
</footer>
