<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">

	{% if page.meta %}
	<meta name="keywords" content="{{ page.meta }}">
	{% endif %}
	
	{% if page.image %}
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:type" content="article" />
	<meta name="author" content="Kris Krause">
	<meta property="og:site_name" content="metroize.com" />
	<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
	<meta name="twitter:url" content="{{ site.baseurl }}{{ page.url }}">
	<meta name="rating" content="General">
	{% endif %}
	
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link rel="stylesheet" href="/foundation-icons/foundation-icons.css" />
	
	<style>
	  .size-12 { font-size: 12px; }
      .size-14 { font-size: 14px; } 
      .size-16 { font-size: 16px; }
      .size-18 { font-size: 18px; }
      .size-21 { font-size: 21px; }
      .size-24 { font-size: 24px; }
      .size-36 { font-size: 36px; }
      .size-48 { font-size: 48px; }
      .size-60 { font-size: 60px; }   
      .size-72 { font-size: 72px; }
	</style>
	
    <meta name="google-site-verification" content="QOiZylsFfYbBwYTCV7Y3h_MfOQSj2LfIDE5Sj-GvPkY" />
	<meta name="msvalidate.01" content="35B1302340262CAE7EA8CD801F3FC6FB" />
</head>
