<header>

  <div class="top-head">
    <a href="/">{{ site.title }}</a>
  </div>

  <div class="top-bar">


    <div class="top-bar-left">

      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
          <a href="/archive/">Archive</a>
        </li>
        <li>
          <a href="#">Tags</a>
          <ul class="menu vertical">

            <li>
              <a href="/android/">android</a>
            </li>
            <li>
              <a href="/arduino/">arduino</a>
            </li>
            <li>
              <a href="/dev-life/">dev-life</a>
            </li>
            <li>
              <a href="/espresso/">espresso</a>
            </li>
            <li>
              <a href="/health/">health</a>
            </li>
            <li>
              <a href="/javascript/">javascript</a>
            </li>
            <li>
              <a href="/linux/">linux</a>
            </li>
            <li>
              <a href="/performance/">performance</a>
            </li>
            <li>
              <a href="/soft-skills/">soft-skills</a>
            </li>
            <li>
              <a href="/ubuntu/">ubuntu</a>
            </li>
            <li>
              <a href="/unit-testing/">unit-testing</a>
            </li>
            <li>
              <a href="/windows-app/">windows-app</a>
            </li>
            <li>
              <a href="/zurb/">zurb</a>
            </li>
          </ul>
        </li>


      </ul>
    </div>
  </div>
</header>