<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}


<link rel="stylesheet" href="/foundation-icons/foundation-icons.css" />
    
<style type="text/css">
  .size-12 { font-size: 12px; }
    .size-14 { font-size: 14px; } 
    .size-16 { font-size: 16px; }
    .size-18 { font-size: 18px; }
    .size-21 { font-size: 21px; }
    .size-24 { font-size: 24px; }
    .size-36 { font-size: 36px; }
    .size-48 { font-size: 48px; }
    .size-60 { font-size: 60px; }   
    .size-72 { font-size: 72px; }
</style>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64051921-1', 'auto');
  ga('send', 'pageview');
</script>

  </body>
</html>